// -----------------------------------------------------------
// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.
// -----------------------------------------------------------

[data-wenk] {
  position: relative;

  &:after {
    padding: 5px 8px;
    bottom: 70%;
  }
}

body {
  margin: 0;

  .site-content {

    // Ignore links in fancy items
    a.fancy {
      box-shadow: none;
      text-shadow: none;
    }

    // Big photos
    .entry-photo {
      margin-left: -150px;
      margin-right: -150px;

      @media (max-width: 975px) {
        margin-left: -100px;
        margin-right: -100px;
      }

      @media (max-width: 870px) {
        margin: 0;
      }

      .photoblog {
        width: 100%;
        height: auto;
      }
    }

    .notification-box {
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 60px;

      &.old {
        border-color: #93461f;

        h3,
        p {
          color: #93461f;
        }
      }

      h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 0;
        color: #444;
      }

      p {
        margin: 0;
        color: #444;
        font-size: 16px;
      }
    }
  }

  // Dividers
  .dot-divider {
    font-size: 12px;
    padding-right: .45em;
    padding-left: .45em;
    color: #777;

    &:after {
      content: '·';
    }
  }

  // Global absolute links
  .absolute-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // Default shade on top of slides
  .shade {
    background: rgba(#131517, .33);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    &.shade-gradient {
      // Read: Left to right: From top to bottom
      background: linear-gradient(to bottom, rgba(#131517, .05) 0%, rgba(#131517, .2) 50%, rgba(#131517, .33) 100%);
    }
  }

  // General links, use with @extend
  .link {
    color: #444;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 rgba(#000, .6);
    transition: all .55s;

    &:hover {
      color: #000;
      box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
    }
  }

  .entry-content {
    p,
    li,
    span {
      a {
        @extend .link;
      }
    }
  }

  // Containers
  #page {
    max-width: $layout-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    margin: 0 auto;
    padding-top: $container-default-pad-y;
    padding-bottom: $container-default-pad-y;

    &.container-narrow {
      max-width: 700px;
    }

    @if $grid-type == fluid {
      @include center($max_width: $grid-base-size, $pad: 0);
    }

    @else if $grid-type == snappy {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      @media (min-width: $container-ipad) {
        width: 700px;
      }

      @media (min-width: $container-ipad-landscape) {
        width: 900px;
      }

      @media (min-width: $container-desktop) {
        width: $grid-base-size;
      }
    }

    @else {
      @include center($max_width: $grid-base-size, $pad: $container-default-pad-x);
    }

    @media (max-width: $grid-base-size + 100px) {
      padding-left: $container-default-pad-x / 2;
      padding-right: $container-default-pad-x / 2;
    }

    @media (max-width: $container-ipad - 10px) {
      padding-top: $container-default-pad-y / 2;
      padding-bottom: $container-default-pad-y / 2;
    }
  }

  // Content start
  .site-content {

    // Meta, Edit -link
    .entry-footer {
      overflow: hidden;
      clear: both;
      display: block;

      .edit-link {
        text-align: left;
        width: 100%;
        display: block;
        clear: both;
        max-width: 100%;
        min-width: 0;
        margin-bottom: 0;
        margin-top: 0;
        top: 0;
        bottom: 0;
        padding: 0;
        overflow: hidden;

        a {
          clear: both;
          display: inline-block;
          margin-top: 0;
          padding: 0;
        }
      }
    }
  }
}
