body {
  #page {
    .site-footer {
      .instagram {
        .images {
          overflow: hidden;

          .image {
            @include span(1/2, $cycle: 2);
            position: relative;
            transition: .33s all;

            &:hover {
              opacity: .6;
            }

            .ig-meta {
              position: absolute;
              width: 100%;
              bottom: 2px;
              text-align: center;
              opacity: .8;

              p {
                margin: 0;
                padding: 0;
                font-size: 12px;
                color: #fff;

                svg {
                  width: 11px;
                  height: 11px;
                  fill: #fff;
                  position: relative;
                  top: 1px;
                }

                span {
                  color: #fff;

                  &.likes {
                    margin-right: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
