.not-found {
  @include background-cover();
  background-image: url('../video/trees.jpg');
  height: 100vh;

  .video-container {
    background: transparent;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    position: absolute;
    z-index: 0;
    top: 0;

    video {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100vw;

      // Vertical and Horizontal center
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: $container-ipad) {
        display: none;
      }
    }
  }

  .container {
    @include centered();
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 1000px;

    h1 {
      @include responsive-font(6vw, 32px, 100px);
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 900;
      color: rgba(#fff, .85);
    }

    p {
      @include responsive-font(4vw, 20px, 28px);
      margin: 0;
      line-height: 1.5;
      color: rgba(#fff, .85);

      a {
        color: rgba(#fff, .85);
        box-shadow: inset 0 -1px 0 0 rgba(#fff, .5), inset 0 -2px 0 0 rgba(#000, 0);
        transition: all .55s;

        &:hover {
          color: #fff;
          box-shadow: inset 0 -1px 0 0 rgba(#fff, .85), inset 0 -4px 0 0 rgba(#fff, .85);
        }
      }
    }
  }
}
