body {
  #page {
    .template-arkisto {
      h2 {
        @include responsive-font(20px, 24px);
        margin-bottom: 20px;
        color: #222;

        &.title-grouped {
          margin-bottom: 10px;
        }
      }

      h4 {
        font-size: 19px;
        font-weight: 400;
        color: #777;
        margin-top: 0;
        margin-bottom: 20px;
      }

      p {
        margin-top: 0;
      }

      .tag-cloud {
        margin-bottom: 60px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          line-height: 1;

          li {
            display: inline;
            margin: 0;
            padding: 0;
            line-height: 1.3;

            a {
              box-shadow: none;
              text-shadow: none;
              opacity: .9;
              transition: .33s all;
              font-weight: 400;
              text-transform: lowercase;

              &:hover {
                color: #000;
                opacity: 1;
                box-shadow: none;
                text-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
