body {
  #page {
    form {
      input#s {
        width: 100%;
        max-width: 200px;

        @media (min-width: 650px) {
          max-width: 400px;
        }

        @media (max-width: $container-mobile) {
          @include stack();
          max-width: 100%;
          margin-bottom: 10px;
        }
      }

      #searchsubmit {
        border-radius: 2px;
        background: $color-links;
        color: #fff;
        border-color: $color-links;

        @media (max-width: $container-mobile) {
          @include stack();
          max-width: 100%;
        }
      }
    }

    .template-haku {
      h2 {
        @include responsive-font(20px, 24px);
        margin-bottom: 20px;
        color: #222;

        &.title-grouped {
          margin-bottom: 10px;
        }
      }

      h4 {
        font-size: 19px;
        font-weight: 400;
        color: #777;
        margin-top: 0;
        margin-bottom: 20px;
      }

      #searchsubmit {
        padding-top: 18px;
        padding-bottom: 18px;
      }

      p {
        margin-top: 0;
      }
    }
  }
}
